/* ### CUSTOM PROPERTIES ### */

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  /* # typography # */
  --ff-manrope: "Manrope", sans-serif;
  --fw-500: 500;
  --fw-700: 700;
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button[class] {
  border: none;
}

/* ### UTILITY CLASSES ### */

.hide {
  display: none;
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-manrope);
  font-size: 0.813rem;
  background-color: var(--light-grayish-blue);
  color: var(--desaturated-dark-blue);
  font-weight: var(--fw-500);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* ### ARTICLE PREVIEW ### */

.preview {
  max-width: 330px;
  border-radius: 0.6rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 30px hsl(212, 18%, 86%);
}

/* ## PREVIEW HEADER ## */

.img-container img {
  width: 100%;
  height: 215px;
  object-fit: cover;
  object-position: top;
}

/* ## PREVIEW BODY ## */

.preview__body {
  /* padding: 2rem 2rem 1rem; */
  padding: 2rem;
  position: relative;
}

.preview-title {
  font-size: 1.045rem;
  color: var(--very-dark-grayish-blue);
  font-weight: var(--fw-700);
  line-height: 1.4;
}

.preview-description {
  margin-top: 0.825rem;
  line-height: 1.2rem;
  font-size: 0.845rem;
}

/* ## PREVIEW FOOTER ## */

.preview__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.9rem;
  /* padding: 1.5rem 2rem; */
  margin-top: 1.6rem;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.profile-name {
  font-size: 0.875rem;
  font-weight: var(--fw-700);
  color: var(--very-dark-grayish-blue);
}

.profile-date {
  font-size: 0.875rem;
  color: var(--grayish-blue);
}

button.share-icon-container {
  margin-left: auto;
  background-color: var(--light-grayish-blue);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

/* .share-icon {
  width: 14px;
} */

.share-icon:hover {
  cursor: pointer;
}

/* ### SHARE OPTIONS MODAL ### */

.sharing-modal {
  background-color: var(--very-dark-grayish-blue);
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;

  padding: 1.5rem 2rem;
}

.sharing-modal .flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.9rem;
}

.share-text {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: var(--grayish-blue);
}

.social-media-icons {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}

.sharing-modal button.share-icon-container {
  background-color: var(--desaturated-dark-blue);
}

.sharing-modal .share-icon path {
  fill: white;
}

/* ### MEDIA QUERIES ### */

@media (max-width: 20.313em) {
  .preview__footer,
  .sharing-modal .flex-container {
    flex-direction: column;
    text-align: center;
  }

  .sharing-modal .flex-container {
    gap: 1.5rem;
  }

  button.share-icon-container {
    margin-left: unset;
  }
}

@media (max-width: 14.563em) {
  .sharing-modal {
    padding-block: 2.5rem;
  }
}

@media (min-width: 68.75em) {
}
